## Population ===> All the dataset, Ex:- Country

## Sample ===> Subdata of a dataset, Ex:- City

## Normal Distribution ===> From central tendancy, we have equal data from left and right side.

## Central Tendancy ===> Mean, median, mode
##### mean = sum of total elements/frequency(Count) of elements.
##### a = 1,2,3,4,5
##### mean = (1+2+3+4+5)/5 = 15/5 =3

##### median = sort ===> even = n/2, odd = n+1/2
##### a=1,2,3,4,5
##### median = 1,2,3,4,5
##### odd =5+1/2 = 6/2 = 3rd number ==> median =3

##### mode = most frequency values
##### a=1,2,2,3,2,5
##### mode =2

# Machine Learning Workflow

### Data(Gathering) ====> Data Preprocessing(Normal Distribution) ==> ML Algorithm ==> Prediction ==> Performance Evolution

# Data Preprocessing Techniques == >

## (1). Standardization == > mean = 0, standard deviation =1
#### data ==> Independent data(x), Dependent data(y)
#### (x) ===> x_train, x_test
#### (y) ===> y_train, y_test

### machine(training_data) == > Prediction (testing data)

In [4]:
import numpy as np
import pandas as pd

C:\Users\DELL\AppData\Local\Temp\ipykernel_13088\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df = pd.read_csv("D:\\RegexSolution\\Python\\AdvancePython\\Dataset\\placement.csv")

In [7]:
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [34]:
x = df.drop(columns= ['placed'], axis=1) ### Independent data type(x)
type(x)

pandas.core.frame.DataFrame

In [20]:
x.head(2)

   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17

In [22]:
y = df['placed'] ## Dependent or target data

In [29]:
print("Total data shape =", df.shape)
print("Independent data shape = ",x.shape) 
print("Independent data shape= ",y.shape)

Total data shape = (100, 3)
Independent data shape =  (100, 2)
Independent data shape=  (100,)

In [41]:
#!pip install scikit-learn

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state = 42)

In [39]:
print("Total data shape =", df.shape)
print("Independent data shape = ",x.shape) 
print("Independent data shape= ",y.shape)
print("X_train, data shape=", x_train.shape)
print("x_test data shape = ", x_test.shape)
print("Y_train data shape =", y_train.shape)
print("Y_test data shape =", y_test.shape)

Total data shape = (100, 3)
Independent data shape =  (100, 2)
Independent data shape=  (100,)
X_train, data shape= (80, 2)
x_test data shape =  (20, 2)
Y_train data shape = (80,)
Y_test data shape = (20,)

In [40]:
#covid, tips, titanic